.buttons{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.btn{
    width: 230px;
    height: 80px;
    border-radius: 20px;
    border: 1px solid lightslategrey;
    box-shadow: 0 3px 4px darkslategray;
    margin: 0px 70px;
    font-size: 20px;
    
}