@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  background-color: rgb(235, 231, 231);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
}
